name: publish
on:
  push:
    branches:
      - 'main'

jobs:
  unit:
    name: Publish Flipt Cup
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: '1.21'

      - uses: actions/checkout@v3

      - name: Install Dagger CLI
        env:
          DAGGER_VERSION: 0.6.2
        working-directory: /usr/local
        run: curl -L https://dl.dagger.io/dagger/install.sh | sh

      - name: Run Dagger pipeline
        env:
          CUP_BUILD_REGISTRY: ghcr.io
          CUP_BUILD_USERNAME: "${{ github.repository_owner }}"
          CUP_BUILD_PASSWORD: "${{ secrets.GITHUB_TOKEN }}"
          CUP_BUILD_IMAGE_NAME: cup/flipt:latest
        run: ./build.sh hack fliptcup:publish
