name: test
on:
  pull_request:

jobs:
  unit:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command: ["unit", "integration"]
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: '1.21'

      - uses: actions/checkout@v3

      - name: Install Dagger CLI
        env:
          DAGGER_VERSION: 0.6.2
        working-directory: /usr/local
        run: curl -L https://dl.dagger.io/dagger/install.sh | sh

      - name: Run Dagger pipeline
        run: ./build.sh test ${{ matrix.command }}
